.image {
  width: rem(200px);
  height: auto;

  &--background {
    height: rem(200px);
    //background-image: url("../../assets/images/polite-cat.jpg");
    background-position: center;
    background-size: cover;
  }
}
