@use "../abstracts/breakpoints" as media;

.parks__list {
    display: grid;
    gap: 1rem 0.5rem;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(5px);
    @include media.query(">=sm") {
        grid-template-columns: repeat(3, 30%);  
        gap: 1rem 1rem;
        width: 100%;
      
    };

    @include media.query(">=md") {
        
        grid-template-columns: repeat(4, 25%);
    }
}